.footer-bg {
    background-image: linear-gradient(45deg, var(--cor-a1),var(--cor-r0) 50%);
}

.footer {
    padding-top: 120px;
    padding-bottom: 60px;
    display: grid;
}

.footer iframe {
    justify-self: center;
    margin-bottom: 60px;
    border-radius: 8px;
}

.footer-conteudo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
}

.footer-conteudo img {
    margin-bottom: 20px;
}

.footer-texto {
    color: var(--cor-c12);
}

.footer-contato {
    margin-left: 96px;
}

.footer-navegar {
    margin-left: 60px;
}

.footer-contato,
.footer-navegar,
.footer-texto p {
    font-size: 1.125rem;
}

.footer-contato li,
.footer-navegar li {
    color: var(--cor-c12);
    margin-bottom: 12px;
}

.footer-contato li:first-child,
.footer-navegar li:first-child {
    margin-bottom: 20px;
    color: var(--cor-r8);
    font-size: 1.5rem;
}

@media (max-width: 1000px) {
    .footer {
        padding-top: 60px;
    }

    .footer-texto {
        grid-column: 1/-1;
    }

    .footer-contato,
    .footer-navegar {
        margin-top: 32px;
        margin-left: 0px;
    }

    .footer-navegar {
        margin-left: 40px;
    }
}

@media (max-width: 600px) {
    .footer-conteudo {
        grid-template-columns: 1fr;
    }

    .footer-navegar {
        margin-left: 0px;
    }
}