.sobremim-bg {
    background-image: linear-gradient(45deg, var(--cor-r2),var(--cor-r0) 50%);
}

.sobremim-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 74px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.sobremim-conteudo img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.sobremim-texto {
    padding-right: 40px;
}

.sobremim-texto h2 {
    color: var(--cor-r8);
    margin-bottom: 20px;
}

.sobremim-texto p {
    color: var(--cor-c12);
    margin-bottom: 32px;
}

.sobremim-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px 16px;
}

.sobremim-lista h3 {
    color: var(--cor-r8);
    margin-bottom: 4px;
    position: relative;
}

.sobremim-lista p {
    color: var(--cor-c12);
    max-width: 28ch;
    margin-bottom: 12px;
}

.sobremim-lista .cronica::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: -34px;
    top: 6px;
    background-image: url("../img/cronica.svg");
}

.sobremim-lista .atleta::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: -34px;
    top: 6px;
    background-image: url("../img/atleta.svg");
}

.sobremim-lista .reeducacao::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: -34px;
    top: 6px;
    background-image: url("../img/reeducacao.svg");
}

.sobremim-lista .crianca::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    left: -34px;
    top: 6px;
    background-image: url("../img/crianca.svg");
}

@media (max-width: 1400px) {
    .sobremim-texto > h2 {
        font-size: 2.75rem;
    }

    .sobremim-texto > p {
        font-size: 1.2rem;
    }
}

@media (max-width: 1300px) {
    .sobremim-texto > h2 {
        font-size: 2.5rem;
    }

    .sobremim-lista h3 {
        font-size: 1.125rem;
    }

    .sobremim-lista p {
        font-size: 1rem;
        margin-bottom: 12px;
    }

    .sobremim-lista .cronica::before {
        top: 1px;
    }

    .sobremim-lista .atleta::before {
        top: 1px;
    }

    .sobremim-lista .reeducacao::before {
        top: 1px;
    }

    .sobremim-lista .crianca::before {
        top: 1px;
    }

}

@media (max-width: 1200px) {
    .sobremim-texto > h2 {
        font-size: 2.25rem;
    }

    .sobremim-conteudo {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media (max-width: 1100px) {
    .sobremim-conteudo {
        grid-template-columns: 1fr;
        padding-top: 0;
    }

    .sobremim-lista p {
        font-size: 1rem;
        max-width: 100%;
        margin-bottom: 8px;
    }

    .sobremim-conteudo img {
        display: none;
    }

    .sobremim-texto {
        padding-left: 72px;
    }
}

@media (max-width: 1000px) {
    .sobremim-texto h2 {
        font-size: 2.25rem;
    }

    .sobremim-texto > p {
        font-size: 1.4rem;
    }

    .sobremim-lista {
        grid-template-columns: 1fr;
    }
    .sobremim-lista h3 {
        font-size: 1.3rem;
    }

    .sobremim-lista p {
        font-size: 1.125rem;
    }

}

@media (max-width: 500px) {
    .sobremim-conteudo {
        padding-top: 0px;
        margin-left: -50px;
    }

    .sobremim-texto h2 {
        font-size: 1.5rem;
    }

    .sobremim-texto > p {
        font-size: 1.125rem;
        margin-bottom: 20px;
    }

    .sobremim-lista h3 {
        font-size: 1.1rem;
    }

    .sobremim-lista p {
        font-size: 1rem;
    }

    .sobremim-lista .cronica::before {
        display: none;
    }

    .sobremim-lista .atleta::before {
        display: none;
    }

    .sobremim-lista .reeducacao::before {
        display: none;
    }

    .sobremim-lista .crianca::before {
        display: none;
    }
}

